.App {
    text-align: center;
    height: 10%;
    position: relative;
  }
  
.App-logo {
    height: 20vmin;
    pointer-events: none;
    margin: 0;

  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 5s linear;
    }
  }

  .container {
    height: 25vmax;
    position: relative;
    border: 0px;
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    bottom:0%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }