.App {
    text-align: center;
    height: 10%;
    position: relative;
  }
  
.App-logo {
    height: 20vmin;
    pointer-events: none;
    margin: 0;

  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 5s linear;
    }
  }
