button{

    background: transparent;
    font-size: 20px;
    color: rgb(0, 122, 223);
    padding: 0px 10px;
    border-radius: 5px;
    margin: 1px;
}

button:hover{

    color: whitesmoke;
}

.help{

    float: right;
}

span{
    margin-left: 10px;
    font-size: 20px;
}