.Modal {
    position: fixed;
    z-index: 500;
    background-color: rgba(255, 255, 255);
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 20%;
    box-sizing: border-box;
    transition: all 0.5s ease-out;
    text-align: left;
    border-radius: 20px;

}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}

.start{
    border: 0px;
    margin: 10px;
    width: 20%;
    border-radius: 20px;
    background-color: rgb(0, 122, 223);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    float: right;
    cursor: pointer;
    border: none;
    outline:none;
}


button{
    border: 0px;

}

.cansel{
    
    border: 0px;
    margin: 10px;
    width: 15%;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(255, 0, 0,0.5);
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    float: right;
    cursor: pointer;
    border: none;
    outline:none;
}
.cansel:hover{
    
  border: 0px;
  margin: 10px;
  width: 15%;
  border-radius: 20px;
  padding: 10px;
  background-color: rgb(255, 0, 0,1);
  color: rgb(255, 255, 255);
  font-family: 'Times New Roman', Times, serif;
  float: right;
  cursor: pointer;
  border: none;
  outline:none;
}

.right{
    float: right;
    cursor: pointer;
    font-size: 25px;
    color: #3498db;
}

h3{

    padding: 0px;
    margin: 0px;
}

.dist{

    padding-right: 20px;
}

input{
    
    cursor: pointer;
}
body{
  margin: 0;
  padding: 0;
}
.container{
  text-align: center;
}
.btn{
  border: 1px solid #3498db;
  background: none;
  padding: 5px;
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  text-align: left;
  width: 90%;
  margin: 1.5px;
}
.btn1,.btn2{
  color: #3498db;
}
.btn3,.btn4{
  color: #fff;
}
.btn1:hover,.btn2:hover{
  color: #fff;
}
.btn3:hover,.btn4:hover{
  color: #3498db;
}
.btn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #3498db;
  z-index: -1;
  transition: 0.8s;
}
.btn1::before,.btn3::before{
  top: 0;
  border-radius: 0 0 50% 50%;
}
.btn2::before,.btn4::before{
  bottom: 0;
  border-radius: 50% 50% 0 0;
}
.btn3::before,.btn4::before{
  height: 180%;
}
.btn1:hover::before,.btn2:hover::before{
  height: 180%;
}
.btn3:hover::before,.btn4:hover::before{
  height: 0%;
}
