
.home{

    padding: 20px;
    border: 0px;
    border-radius: 20px;
    background-color: blueviolet;
    color: whitesmoke;
    float: left;
}

.prescription{

    float: right;
    width: 50%;
}


.intake_note{
    
    float: left;
    width: 50%;
    background-color: rgb(85, 85, 85);
}

.left-tab{

    margin:15px;
    background-color: rgb(247, 247, 247);
    padding: 15px;
    border-radius: 10px;
    width: 52%;
    height:90%;
    float: left;
    position: absolute;
    overflow: auto;
    overflow-y: auto;
    overflow-x: none;
    margin-bottom: 5px;
}


.parent{

}

@import '../../../node_modules/antd/dist/antd.css';

.code-box-demo {
  text-align: center;
}
.ant-layout-header,
.ant-layout-footer {
  background: #7dbcea;
  color: #fff;
}
[data-theme="dark"] .ant-layout-header {
  background: #6aa0c7;
}


.section1style{

    background-color:linear-gradient(to right, #67b26b, #4ca2cb)
}

.right-tab{

  height: 100%;
}